@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Dalmoori';
  src: url('@/assets/styles/dalmoori.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Dalmoori', 'DotGothic16', 'Press Start 2P', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

button {
  font-family: 'Dalmoori', 'DotGothic16', 'Press Start 2P', sans-serif;
}

input {
  font-family: 'Dalmoori', 'DotGothic16', 'Press Start 2P', sans-serif;
}

select {
  font-family: 'Dalmoori', 'DotGothic16', 'Press Start 2P', sans-serif;
}

.container {
  overflow-x: auto;
}

.container:hover {
  overflow-x: scroll;
}

.container::-webkit-scrollbar {
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #6cd395;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track {
  background-color: #e9fff0;
}
